$base-orange: #fb8f1d;
$navbar_height: 60px;

$button_height_padding: 8px;
$button_width_padding: 43px;
$button_border_radius: 8px;

$font-size: 16px;
$line-height: 19px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size;
    line-height: $line-height;
}

#mynavbar {
    background-color: white;
}

.cust_button {
    background-color: white;
    border: 1px solid $base-orange;
    border-radius: $button_border_radius;
    box-sizing: border-box;
    padding: $button_height_padding $button_width_padding;
}

#register {
    background: $base-orange;
}

#navbar__ul li:nth-child(n + 2) {
    margin-left: 35px;
}

nav ul button {
    margin-left: 35px;
}

@media only screen and (max-width: 768px) {
    nav ul button {
        margin-left: 35px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
